
.log-in-page{
    background: rgb(236,255,231);
background: linear-gradient(144deg, rgba(236,255,231,1) 6%, rgba(174,219,194,1) 76%);
}
.log-in-title {
    width: 500px;
    margin: 100px auto;
    text-align: center;
    font-size: 100px;
}

form.ant-form.ant-form-horizontal.login-form{
    max-width: 600px;
    margin: 150px auto;
    padding-bottom: 40px;
    margin-bottom: 300px;
    
    }

    .ant-form-item {

    }