
form.ant-form.ant-form-horizontal.login-form{
    max-width: 400px;
    max-height: 100vh;
    margin: 150px auto;
    padding-bottom: 40px;
    margin-bottom: 300px;
    }

.ant-form-item-children{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}