
.logo{
    height: 50px;
   color: #317480;
}

.text-logo{
    width: 150px;
    color:#317480;
    @media screen and(max-width: 700px){
        display: none;
    }
}




.icon{
    font-size: 32px;
    margin: 0 10px;
    color: #317480;
    @media screen and (max-width: 960px){
        display: none;
    }
}