.searchBar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    border-radius: 5px;

}

.logo{
    width: 90px;
    height: 90px;
}

.text-logo{
    width: 250px;
}