.post-card{
    width: 642px;
    height: auto;
    border: 1px solid lightgray;
    margin: 0 auto;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    h5{
        margin-left: 10px;
    }

    .user-info{
        display: flex;
        flex-flow: row nowrap;
        h2{
            margin-left: 20px;
        }

    }

    .picture{
        margin-top: 10px;
        margin-left: -5px
    }

    
}

.user{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.comments{
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: flex-start;
    margin: -8px 0px -16px 10px;
    p{
        margin-left: 10px;
        font-size: 14px;
    }
    
}

.add-comment{
    width: 95%;
    border-top: 1px solid lightgray;
    padding-top: 8px;
    
    form{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        input{
            width: 70%;
            border: none;
        }

        button{
            width: 20%;
            background-color: transparent;
            border: none;
            color: darkgray;
            font-size: 32px;
            text-align: right;
        }
    }

}

.like-comment{
    margin-top: 4px;
}